#logo {
    border-radius: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

body{
    background-image: url(https://images6.alphacoders.com/133/1330094.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#main-header {
    text-align: center;
    font-style:italic;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(74, 57, 221);
}

form {
    text-align: center;
    padding-top: 5%;
}

.label {
    font-size: large;
    font-style:normal;
    font-family: 'Courier New', Courier, monospace;
}

.btn{
    background-color: rgb(127, 214, 255);
    border-radius: 12px;
    padding:2px 20px;
}

#video-result {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.info {
    text-align: center;

}

.image-url:focus {
    background-image:;
    width: 40%;
    color: darkgray;
}

.name {
    font-style: oblique;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
}