#logo {
    border-radius: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

body{
    background-color:rgb(96, 166, 223)
}

#main-header {
    text-align: center;
    font-style:italic;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(67, 134, 106);
}

form {
    text-align: center;
    padding-top: 5%;
}

.label {
    font-size: large;
    font-style:normal;
    font-family: 'Courier New', Courier, monospace;
}

.btn{
    background-color: rgb(127, 214, 255);
    border-radius: 12px;
    padding:2px 20px;
}

#video-result {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.info {
    text-align: center;

}

#img-url:focus {
    background-image:;
    width: 40%;
    color: darkgray;
}

.name {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(18, 19, 18);
}